.reset-success {
  display: none;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #dfe1e6;
}

.reset-success p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #091e42;
  width: 361px;
  margin-bottom: 40px;
}

.reset-success img {
  margin-top: 24px;
  margin-bottom: 40px;
}

.new-password.input-field--container:first-of-type {
  margin-bottom: 15px;
}
