@model ResetPasswordViewModel


<section class="auth-wrapper">
    <h2>Reset Password</h2>
    <p>The password should have atleast 6 characters</p>
    <div class="reset-success">
        <img src="../assets/check-icon.svg" alt="" />
        <p>Your password has been changed successfully.</p>
    </div>
    <form asp-controller="Auth" asp-action="ResetPassword" id="auth-form" method="post">
        <fieldset class="reset reset-password">
            <label for="employee-password" class="password-label">
                <p>New password</p>
            </label>
            <div class="new-password input-field--container">
                <input type="hidden" id="token" value=@Model.Token />
                <input type="hidden" id="email" value=@Model.Email />
                <span class="icon-container" id="icon-container">
                    <svg width="20"
                         height="17"
                         viewBox="0 0 20 17"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg"
                         id="password-icon">
                        <path fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M10 14.5273C5.464 14.5273 2.001 10.2673 2.001 8.52734C2.001 6.52634 5.46 2.52734 10.001 2.52734C14.377 2.52734 17.999 6.50034 17.999 8.52734C17.999 10.2673 14.537 14.5273 10.001 14.5273H10ZM10.001 0.527344C4.48 0.527344 0 5.36834 0 8.52734C0 11.6133 4.576 16.5273 10 16.5273C15.423 16.5273 20 11.6133 20 8.52734C20 5.36834 15.52 0.527344 10 0.527344"
                              fill="#42526E"/>
                        <path fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M9.977 10.5113C8.874 10.5113 7.977 9.61434 7.977 8.51134C7.977 7.40834 8.874 6.51134 9.977 6.51134C11.081 6.51134 11.977 7.40834 11.977 8.51134C11.977 9.61434 11.081 10.5113 9.977 10.5113ZM9.977 4.51134C7.771 4.51134 5.977 6.30534 5.977 8.51134C5.977 10.7173 7.771 12.5113 9.977 12.5113C12.184 12.5113 13.977 10.7173 13.977 8.51134C13.977 6.30534 12.184 4.51134 9.977 4.51134Z"
                              fill="#42526E"/>
                    </svg>
                </span>
                <input name="password"
                       type="password"
                       id="employee-password"
                       placeholder="Enter password"
                       autofocus/>
                <span class="error-container" style="display: none">
                    <img src="../assets/error-icon.png" alt="error-icon"/>
                    <p class="error-text">Passwords do not match</p>
                </span>
            </div>
        </fieldset>
        <fieldset>
            <label for="confirm-password" class="password-label">
                <p>Confirm password</p>
            </label>
            <div class="confirm-password input-field--container">
                <span class="icon-container" id="icon-container">
                    <svg width="20"
                         height="17"
                         viewBox="0 0 20 17"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg"
                         id="password-icon">
                        <path fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M10 14.5273C5.464 14.5273 2.001 10.2673 2.001 8.52734C2.001 6.52634 5.46 2.52734 10.001 2.52734C14.377 2.52734 17.999 6.50034 17.999 8.52734C17.999 10.2673 14.537 14.5273 10.001 14.5273H10ZM10.001 0.527344C4.48 0.527344 0 5.36834 0 8.52734C0 11.6133 4.576 16.5273 10 16.5273C15.423 16.5273 20 11.6133 20 8.52734C20 5.36834 15.52 0.527344 10 0.527344"
                              fill="#42526E" />
                        <path fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M9.977 10.5113C8.874 10.5113 7.977 9.61434 7.977 8.51134C7.977 7.40834 8.874 6.51134 9.977 6.51134C11.081 6.51134 11.977 7.40834 11.977 8.51134C11.977 9.61434 11.081 10.5113 9.977 10.5113ZM9.977 4.51134C7.771 4.51134 5.977 6.30534 5.977 8.51134C5.977 10.7173 7.771 12.5113 9.977 12.5113C12.184 12.5113 13.977 10.7173 13.977 8.51134C13.977 6.30534 12.184 4.51134 9.977 4.51134Z"
                              fill="#42526E" />
                    </svg>
                </span>
                <input name="password"
                       type="password"
                       id="confirm-password"
                       placeholder="Enter password"
                       autofocus />
            </div>
        </fieldset>
        <button class="primary"
                id="reset-submit-button"
                type="submit"
                disabled>
            Reset Password
        </button>
    </form>
    <a class="link" href="resourceedge.netlify.app">Back to Log in</a>
</section>


<script type="text/javascript" src="~/index.js"></script>
<script type="text/javascript" src="~/js/passwordReset.js"></script>