@model VerifyEmail


<section class="auth-wrapper">
    <h2>Reset Password</h2>
    <p>To enable us reset your password, enter your email below</p>
    <div class="reset-success">
        <img src="~/assets/check-icon.svg" alt="" />
        <p>A recovery email has been sent to your email address.</p>

        <p>
            N/B: Click
            <a asp-action="ResetPassword" class="link">Here</a> to go directly
            to password creation page. This dialog was never meant to be here.
        </p>
    </div>
    <form asp-controller="Auth" asp-action="PasswordReset" method="post" id="auth-form">
        <fieldset class="">
            @*<input type="hidden" name="Token" value="@Model.Token" />*@
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" id="returnUrl"/>
            <label for="email-address" class="email-label">
                <p>Email Address</p>
            </label>
            <div class="email input-field--container">
                <input name="email"
                       type="email"
                       id="email-address"
                       placeholder="Enter email"
                       value="@Model.Email"
                       autofocus />

                @if (ViewBag.Error != null)
                {
                    <span class="error-container">
                        <img src="~/assets/error-icon.png" alt="error-icon" />
                        <p class="error-text">
                            @ViewBag.Error.ToString()
                        </p>
                    </span>
                }

            </div>
        </fieldset>

        <button class="primary"
                id="reset-submit-button"
                type="submit"
                disabled>
            Send Recovery Link
        </button>
       
    </form>
    <a class="link" asp-action="VerifyEmail">Back to Log in</a>
</section>

<script type="text/javascript" src="~/js/forgotPassword.js"></script>
